html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

body{
    font-family: 'Kumbh Sans',sans-serif;
    background-color: $Dark_cyan;
    background-image: url('../images/bg-pattern-top.svg'),url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
